* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #2d2013;
}
.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.img {
  width: 300px;
  height: 300px;
}
.wrapper {
  display: grid;
  margin-left: 50px;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 22rem));
  /* padding: 10px; */
}
.card {
  margin-top: 50px;
  margin-left: 50px;
}
.wrapper h3 {
  color: #ffc040;
}
#root {
  max-width: 1700px;
}
body {
  overflow-x: hidden;
  margin: 0;
}

main {
  margin: 16px;
}

.navbar {
  display: flex;
  align-items: center;

  background: #23180d;
  color: white;
  font-family: Helvetica;
  font-weight: 300;
}

.navbar__title {
  /* margin-right: auto; */
  font-size: 150%;
  padding: 12px 16px;
  /* margin-left: 150px; */
}
img {
  margin-right: 900px;
}
.navbar__item {
  align-items: flex-start;
  padding: 16px 16px;
  cursor: pointer;

  vertical-align: middle;
  margin-left: 40px;
}

.footer {
  display: flex;
  align-items: center;
  margin-top: 200px;
  background: #23180d;
  color: white;
  font-family: Helvetica;
  font-weight: 300;
  padding: 30px;
}
.footer__item {
  align-items: flex-start;
  padding: 16px 16px;
  cursor: pointer;
  float: right;
  vertical-align: middle;
  margin-left: 30px;
}
.copyright {
  margin-right: 900px;
}
.btn {
  background-color: red;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
